@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Russo+One&effect=outline|3d');

body {
    background-color: rgb(0, 0, 80);
    color: snow;
    font-family: 'Roboto Condensed','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #010029;
}

#Candidate {
    text-align: start;
    font-variant-caps: all-petite-caps;
    font-size: 0.9rem;
}

.parallax {
    background-image: url("../img/Fitness.jpg");
    height: 230px;
    align-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0px;
}

.parallax-title {
    background-image: url("../img/fitness2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    padding: 25% 0px;
    font-family: 'Russo One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

@media only screen and (min-device-width: 1024px) {
    .parallax .parallax-title {
        background-attachment: scroll;
    }
}
